In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('names.csv')

In [38]:
df.head()

        NAMES                                            MEANING GENDER
0  aabavaanan   implies a person who is responsible and reliable    Boy
1       aabha  Glow; Splendour; Light; Brilliance; Bright and...   Girl
2    aabharan  means jewel, a variant form of name Abharan wh...    Boy
3      aabhas  Sense or Feelings, has a Sanskrit meaning as r...    Boy
4     aabhass  Awareness; A variant name of Abhas which means...    Boy

In [39]:
print('Shape',df.shape)
def EDA(df):
    a = pd.DataFrame()
    a['Features'] = df.columns
    a['Unique'] = [df[i].nunique() for i in df.columns]
    a['nan_values'] = [df[i].isna().sum() for i in df.columns]
    a['Type'] = [df[i].dtype for i in df.columns]
    return a
EDA(df)

Shape (17106, 3)

  Features  Unique  nan_values    Type
0    NAMES   17106           0  object
1  MEANING   14626           0  object
2   GENDER       6           0  object

In [40]:
min(len(w) for w in df['NAMES']) #Shortest Word

2

In [41]:
max(len(w) for w in df['NAMES']) #longest Word

16

In [42]:
len(set("".join(df['NAMES'].values.tolist()))) #We have 27 characters making up the names

27

In [43]:
set("".join(df['NAMES'].values.tolist()))

{'-',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}