In [1]:
import pandas as pd

In [2]:
URL = "https://www.momjunction.com/baby-names/indian/"
df = pd.read_html(URL)[0]
df = df[df["Unnamed: 3"].isna()][['NAMES','MEANING','GENDER']]

In [ ]:
for i in range(2,174):
    URL = "https://www.momjunction.com/baby-names/indian/page/" + str(i) + "/"
    temp = pd.read_html(URL)[0]
    temp = temp[temp["Unnamed: 3"].isna()][['NAMES','MEANING','GENDER']]
    df = pd.concat([df,temp])
    print(i)

In [4]:
df = df.reset_index(drop=True)

In [22]:
df.head()

         NAMES                                            MEANING GENDER
0   Aabavaanan   implies a person who is responsible and reliable    Boy
1  Aabha (आभा)  Glow; Splendour; Light; Brilliance; Bright and...   Girl
2     Aabharan  means jewel, a variant form of name Abharan wh...    Boy
3       Aabhas  Sense or Feelings, has a Sanskrit meaning as r...    Boy
4      Aabhass  Awareness; A variant name of Abhas which means...    Boy

In [23]:
#We have (devnagri) but we only want first names, so we will remove eveything from names after the first space
df['NAMES'] = df['NAMES'].str.split().map(lambda x: x[0])

In [28]:
#Get only unique names
df = df.drop_duplicates('NAMES')

In [35]:
#Turn to lowercase
df['NAMES'] = df['NAMES'].str.lower()

In [ ]:
#Need to remove ' - ' 
for name in df['NAMES']:
    if '-' in name:
        print(name)

In [ ]:
df['NAMES'] = df['NAMES'].str.replace('-','')

In [36]:
df.head()

        NAMES                                            MEANING GENDER
0  aabavaanan   implies a person who is responsible and reliable    Boy
1       aabha  Glow; Splendour; Light; Brilliance; Bright and...   Girl
2    aabharan  means jewel, a variant form of name Abharan wh...    Boy
3      aabhas  Sense or Feelings, has a Sanskrit meaning as r...    Boy
4     aabhass  Awareness; A variant name of Abhas which means...    Boy

In [37]:
df.tail()

          NAMES                                            MEANING GENDER
17205     yesha                         Fame, one who desires fame   Girl
17206  yogendra                                    The God of yoga    Boy
17207  zankhana          One who holds a deep desire in her heart.   Girl
17208     zarna  A variation of the name Jharna. It means flow ...   Girl
17209      zeel                                          Waterfall   Girl

In [38]:
df.to_csv('names.csv',index=False)